@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
}
img {
    display: block;
    max-width: 100%;
}
h2, h3, p {
    font-family: Lato;
}
.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    /* max-width: 1600px;
    min-width: 375px; */
}
.navigation {
    display: flex;
    justify-content: space-between;
    background: #222222;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
.logo {
    display: flex;
    flex-direction: row;
    gap: 41px;
}

.btn-nav {
    display: flex;
    gap: 33px;
}
button {
    background: #222222;
    color: #E8E8E8;
}

.banner {
    background: #F1E4E6;
    display: flex;
    align-items: center;
    margin-bottom: 65px;
    min-height: 363px;
}
.banner img {
    max-width: 800px;
}
.brand {
    flex-wrap: nowrap;
    margin-left: 60px;
    box-sizing: border-box;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    width: 405px;
}
.brand h2 {
    font-family: Lato;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
}
.brand h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}
.brand span {
    color:  #F16D7F;
    font-weight: 700;
    line-height: 100%;
}


/* .mainContent {
} */


.cardList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 96px;
}
.card {
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    box-sizing: border-box;
}
.card1 {
    background-repeat: no-repeat;
    background-image: url(./img/Card1.png);
    background-size: 360px 260px;
}
.card2 {
    background-repeat: no-repeat;
    background-image: url(./img/Card2.png);
    background-size: 360px 260px;
}
.card3 {
    background-repeat: no-repeat;
    background-image: url(./img/Card3.png);
    background-size: 360px 260px;

}
.cardbase {
    /* grid-row: 2/3;
    grid-column: 1/4; */
    grid-area: 2/1/span 1/span 3;
    background-repeat: no-repeat;
    background-image: url(./img/Card4.png);
    background-size: 1400px 180px;

}
.backColors {
    background-color:#211616B2;
    width: 360px;
    height: 260px;
}
.backColorsCardbase {
    background-color:#211616B2;
    width: 1140px;
    height: 180px;
}
.into {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 103px;
}
.intoBase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 65px 490px;
}
.card span {
    font-family: Lato;
    font-weight: 700;
    color:  #F16D7F;
    font-size: 24px;
    line-height: 100%;
}
.cardbase span {
    font-family: Lato;
    font-weight: 700;
    color:  #F16D7F;
    font-size: 24px;
    line-height: 100%;
}

/* modelLists */

.modelLists h2 {
    text-align: center;
    margin-bottom: 6px;
}
.modelLists p {
    color: #9F9F9F;
}
.paragraph__head {
    text-align: center;
}
.cardModelList {
    margin-top: 48px;
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}
.discribeCardModel {
    background-color: #F8F8F8;
    padding: 24px 28px 20px 16px;
}
.discribeCardModel p {
    margin-top: 16px;
    margin-bottom: 16px;
}
.price span {
    color:  #F16D7F
}

.btnDown {
    display: block;
    margin: 0 auto;
    padding: 15px 40px;
    color: #F26376;
    background-color: white;
    border: 1px solid #FF6A6A;
    margin-top: 48px;
    margin-bottom: 60px;
}

@media(min-width: 768px) and (max-width: 1140px) {
    .header {
        max-width: 736px;
    }
    .navigation {
        padding-left: 32px;
        padding-right: 32px;
    }
    .btn-nav {
        gap: 20px;
    }
    .brand {
        width: 311px;
    }
    .banner img {
        max-width: 386px;
    }
    .brand {
        margin-left: 40px;
        margin-right: 33px;
        box-sizing: border-box;
        border-left: 12px solid #F16D7F;
        padding-left: 16px;
        width: 311px;
    }
    .brand h2 {
        font-family: Lato;
        font-weight: 900;
        font-size: 44px;
        line-height: 100%;
    }
    .brand h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
    }
    .brand span {
        color:  #F16D7F;
        font-weight: 700;
        line-height: 100%;
    }

    .center {
        max-width: 736px;
        /* padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px); */
    }

    .cardList {
        gap: 19px;
        max-width: 736px;
    }
    .backColors {
        background-color:#211616B2;
        width: 232px;
        height: 167px;
    }
    .backColorsCardbase {
        background-color:#211616B2;
        width: 734.5px;
        height: 116.09px;
    }

    .cardModelList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
    }
    .into {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 59px 39px;
    }
    .intoBase {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 33px 287px;
    }

}